// $primaryBackground: #f8f0e5;
$primaryBackground: #f7f4e4;
$secondaryBackground: #cac0a8;
$tertiaryBackground: #a79469;
// $tertiaryBackground: #dac0a3;

// $details: #102c57;
$details: #0b384b;
$secondaryDetail: #744815;

$successActive: #2f440f;
// $sucessInactive: #aec2a7;
$failActive: #78081d;
// $failInactive: #d35050;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400&family=Marcellus&display=swap");

body {
  font-family: "Manrope", sans-serif;
  background-color: $secondaryBackground;
  color: $details;
}

header {
  background-color: $secondaryDetail;
}

.details {
  color: $details;
}

.details2 {
  color: $primaryBackground;
}

.details3 {
  font-weight: bold;
}

#header1 {
  display: none;
}

#header2 {
  display: block;
}

#usersCredits {
  h5 {
    margin-bottom: 0 !important;
    color: $primaryBackground;
  }
}

#usersCardBody {
  background-color: $primaryBackground;
}

.border {
  border-width: 1px;
  border-style: solid;
  border-color: $details !important;
}

.border-bottom {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $details !important;
}

#carouselIntro {
  display: block;
}

h2 {
  font-size: 3rem;
  color: $primaryBackground !important;
}

.form-control {
  background-color: $primaryBackground !important;
  border: $details;
}

.modal-content {
  background-color: $secondaryBackground;
}

.modal-title {
  color: $details !important;
}

h1,
h3 {
  font-family: "Marcellus", serif;
  color: $primaryBackground;
}

p {
  color: $primaryBackground;
}

.btn {
  color: $primaryBackground;
  background-color: $details;
  border-color: $primaryBackground;
  font-family: "Manrope", sans-serif;
  font-weight: 300;
  a {
    &:hover,
    &:focus,
    &:active,
    &:disabled {
      text-decoration: none !important;
      color: $details !important;
      background-color: $primaryBackground !important;
    }
  }
}

.btn-primary {
  &:hover,
  &:focus,
  &:active,
  &:disabled {
    text-decoration: none !important;
    color: $details !important;
    border-color: $details !important;
    background-color: $primaryBackground !important;
  }
}

li {
  a {
    text-decoration: none !important;
    color: $details !important;
  }
}

.carousel-item {
  border-color: $details;
  img {
    object-fit: cover;
    height: 500px;
  }
}
.dropdown-menu,
.dropdown-item {
  color: $details;
  background-color: $primaryBackground;
}

.card-body,
.list-group-item {
  background-color: $primaryBackground;
}

.card-img {
  object-fit: cover;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.cardBodyRounded {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#profileImg {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 0px;
}

@media (min-width: 768px) {
  #profileImg {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

#cardBody {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 15px;
}

@media (min-width: 768px) {
  #cardBody {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}

#allBids {
  display: none;
}

.list-group {
  border-radius: 0;
}

footer {
  i {
    color: $details;
    display: inline-block;
    font-size: 1.5rem;
  }
}

// :root {
//   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
//   line-height: 1.5;
//   font-weight: 400;

//   color-scheme: light dark;
//   color: rgba(255, 255, 255, 0.87);
//   background-color: #242424;

//   font-synthesis: none;
//   text-rendering: optimizeLegibility;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   -webkit-text-size-adjust: 100%;
// }

// a {
//   font-weight: 500;
//   color: #646cff;
//   text-decoration: inherit;

//   &:hover {
//     color: #535bf2;
//   }
// }

// body {
//   margin: 0;
//   display: flex;
//   place-items: center;
//   min-width: 320px;
//   min-height: 100vh;
// }

// h1 {
//   font-size: 3.2em;
//   line-height: 1.1;
// }

// #app {
//   max-width: 1280px;
//   margin: 0 auto;
//   padding: 2rem;
//   text-align: center;
// }

// .logo {
//   height: 6em;
//   padding: 1.5em;
//   will-change: filter;
//   transition: filter 300ms;

//   &:hover {
//     filter: drop-shadow(0 0 2em #646cffaa);
//   }

//   &.vanilla:hover {
//     filter: drop-shadow(0 0 2em #f7df1eaa);
//   }
// }

// .card {
//   padding: 2em;
// }

// .read-the-docs {
//   color: #888;
// }

// button {
//   border-radius: 8px;
//   border: 1px solid transparent;
//   padding: 0.6em 1.2em;
//   font-size: 1em;
//   font-weight: 500;
//   font-family: inherit;
//   background-color: #1a1a1a;
//   cursor: pointer;
//   transition: border-color 0.25s;

//   &:hover {
//     border-color: #646cff;
//   }

//   &:focus,
//   &:focus-visible {
//     outline: 4px auto -webkit-focus-ring-color;
//   }
// }

// @media (prefers-color-scheme: light) {
//   :root {
//     color: #213547;
//     background-color: #ffffff;
//   }

//   a:hover {
//     color: #747bff;
//   }

//   button {
//     background-color: #f9f9f9;
//   }
// }
